<div class="d-flex justify-content-center align-items-center vh-100 " style="background-color: #f8f9fa;">
    <div class="bg-white p-4 shadow-sm p-3 mb-5 bg-body rounded" style="width: 400px;">
        <form>
            <app-input label="Email"  (valueChange)="setEmail($event)" name="email" type="text"></app-input>
            <app-input label="Password" (valueChange)="setPassword($event)" name="password" type="password"></app-input>
            <div *ngIf="err" class="text-danger text-center mb-4">{{err}}</div>
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>

                <div class="col">
                    <a href="#!">Forgot password?</a>
                </div>
            </div>
            <button type="button" (click)="submit()" class="btn btn-primary btn-block mb-4 w-100">Sign in</button>
            <div class="text-center">
                <p>Not a member? <a routerLink="/signup" routerLinkActive="active" >Register</a></p>
            </div>
        </form>

    </div>
</div>
```